In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from config import g_key

In [33]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qasigiannguit,GL,2020-08-24 00:15:42,68.82,-51.19,42.80,80,0,1.66
1,1,Tasiilaq,GL,2020-08-24 00:15:42,65.61,-37.64,37.40,100,0,1.12
2,2,Namibe,AO,2020-08-24 00:15:42,-15.20,12.15,64.18,90,50,1.79
3,3,Killybegs,IE,2020-08-24 00:15:42,54.63,-8.45,51.01,95,1,1.90
4,4,Cape Town,ZA,2020-08-24 00:11:52,-33.93,18.42,59.00,93,40,8.05

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [35]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 15.0), zoom_level=1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
12,12,Jamestown,US,2020-08-24 00:14:49,42.10,-79.24,78.01,69,1,4.70
16,16,Umm Lajj,SA,2020-08-24 00:15:46,25.02,37.27,82.51,54,0,3.51
30,30,Dromolaxia,CY,2020-08-24 00:15:49,34.88,33.59,78.80,39,0,5.82
32,32,Hithadhoo,MV,2020-08-24 00:11:09,-0.60,73.08,82.62,79,70,12.93
35,35,Yecla,ES,2020-08-24 00:15:51,38.61,-1.11,75.99,86,58,4.09
36,36,Elizabeth City,US,2020-08-24 00:15:45,36.29,-76.25,80.01,86,97,5.99
37,37,Bhagwantnagar,IN,2020-08-24 00:15:52,26.23,80.75,78.80,94,40,5.06
39,39,Guane,CU,2020-08-24 00:15:53,22.20,-84.09,82.26,78,34,5.37
43,43,Saint-Georges,GD,2020-08-24 00:15:54,12.06,-61.75,84.20,83,20,8.70
46,46,Montorio Al Vomano,IT,2020-08-24 00:17:05,42.58,13.64,75.00,44,12,5.01

In [41]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat    Lng Hotel Name
12           Jamestown      US     78.01  42.10 -79.24
16            Umm Lajj      SA     82.51  25.02  37.27
30          Dromolaxia      CY     78.80  34.88  33.59
32           Hithadhoo      MV     82.62  -0.60  73.08
35               Yecla      ES     75.99  38.61  -1.11
36      Elizabeth City      US     80.01  36.29 -76.25
37       Bhagwantnagar      IN     78.80  26.23  80.75
39               Guane      CU     82.26  22.20 -84.09
43       Saint-Georges      GD     84.20  12.06 -61.75
46  Montorio Al Vomano      IT     75.00  42.58  13.64

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
12,Jamestown,US,78.01,42.10,-79.24,Hampton Inn & Suites Jamestown
16,Umm Lajj,SA,82.51,25.02,37.27,Moon light Furnished Units
30,Dromolaxia,CY,78.80,34.88,33.59,Flamingo Beach Hotel
32,Hithadhoo,MV,82.62,-0.60,73.08,Scoop Guest House
35,Yecla,ES,75.99,38.61,-1.11,Hotel Avenida
36,Elizabeth City,US,80.01,36.29,-76.25,Hampton Inn Elizabeth City
37,Bhagwantnagar,IN,78.80,26.23,80.75,Techno Dosti ( Ayush Singh Chauhan )
39,Guane,CU,82.26,22.20,-84.09,base de Campismo LosPortales de Guane
43,Saint-Georges,GD,84.20,12.06,-61.75,Siesta Hotel
46,Montorio Al Vomano,IT,75.00,42.58,13.64,Hotel Vomano

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [56]:
# Heatmap with markers for Max Temp
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))